<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.yt.demo_kotlin">

    <!-- 获取GSM网络信息状态，如当前的网络连接是否有效 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许获取Wi-Fi网络状态改变信息 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- SD 卡读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 硬件加速对X5视频播放非常重要，建议开启 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:name="com.practice.eyepetizer.globle.GlobleApplication"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.practice.eyepetizer.mvp.ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主页面 -->
        <activity android:name="com.practice.eyepetizer.mvp.ui.activity.MainActivity"/>
        <!--观看历史-->
        <activity android:name="com.practice.eyepetizer.mvp.ui.activity.WatchHistoryActivity"/>
        <!--个人主页-->
        <activity android:name="com.practice.eyepetizer.mvp.ui.activity.PersonalHomepageActivity"/>
        <!--播放视频界面-->
        <activity android:name="com.practice.eyepetizer.mvp.ui.activity.VideoDetailActivity"/>
        <!--搜索界面-->
        <activity android:name="com.practice.eyepetizer.mvp.ui.activity.SearchActivity"/>
        <!--类别详情-->
        <activity android:name="com.practice.eyepetizer.mvp.ui.activity.CategoryDetailActivity"/>
    </application>

</manifest>